.directory
.idea
virtualenv
*-swp
virtenv
__pycache__
my_main.py
main.py
postup
sandbox.py
limbdarkening.tar
env36/*
limbdarkening/*/*.csv
limbdarkening/*.csv
atmosphere/*/*.csv
atmosphere/ck04/*
atmosphere/*.csv
conf/elisa_conf.ini

*.log
__main__.py
.cache
*.pickle
