.directory
.idea
virtualenv
*-swp
virtenv
__pycache__
my_main.py
main.py
postup
limbdarkening.tar
env36/*
limbdarkening/*/*.csv
limbdarkening/*.csv
atmosphere/*/*.csv
atmosphere/ck04/*
atmosphere/k93/*
atmosphere/*.csv
conf/elisa_conf.ini
objects/HD_99458.py

*.log
__main__.py
.cache
*.pickle

sandbox.py

build/*
dist/*
elisa.egg-info
docs/build/*
/jupyter_tutorials/.ipynb_checkpoints/
/env37/
/my_scripts/
