astropy>=4.0.1,<4.4'
corner>=2.2.1
emcee==3.0.1
jsonschema>=3.2.0
matplotlib>=3.3.2,<3.5
numpy>=1.16.2,<=1.20.3
pandas>=0.24.0,<1.4
pypex>=0.2.0
pytest==3.2.3
python-dateutil>=2.6.1,<=2.8.1
scipy>=1.0.0,<1.8
tqdm==4.43.0
parameterized>=0.7.4
numba>=0.51.2
requests>=2.26.0


# keep it commented
# torch==1.7.0   +cuda
