astropy>=4.0.1,<=5.3.4
corner>=2.2.1
emcee>=3.0.1,<=3.1.6
jsonschema>=3.2.0
matplotlib>=3.3.2,<=3.7.5
numpy>=1.16.2,<=1.26.4
pandas>=0.24.0,<=1.5.3
packaging<=24.2
pytest>=3.2.3,<=8.3.4
python-dateutil>=2.6.1,<=2.8.1
pytz>=2020.1
six>=1.5
scipy>=1.0.0,<=1.11.4
tqdm>=4.43.0
parameterized>=0.7.4
numba>=0.51.2
requests>=2.26.0

# dist build utils
setuptools<=75.8.0
wheel<=0.45.1

# keep it commented
# torch==1.7.0   +cuda
