astropy==2.0.2
cycler==0.10.0
matplotlib==2.1.0
numpy==1.13.3
pandas==0.24.0
py==1.4.34
pyparsing==2.2.0
pypex==0.1.0
pytest==3.2.3
python-dateutil==2.6.1
pytz==2017.2
scipy==1.0.0
six==1.11.0

Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
